@model ChoiceViewModel

@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    @foreach (var lwd in Model.LectureswithDepartment)
    {
        @if (lwd.Lectures.Count()!=0)
        {
        <form action="" method="post">
            <div class="tables">
                <div class="bs-example widget-shadow" data-example-id="hoverable-table">
                    <h4>@lwd.DepartmentName Ders Seçimi</h4>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Ders Adı</th>
                                <th>Ders Kodu</th>
                                <th>Kredi</th>
                                <th>Seç</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var lecture in lwd.Lectures)
                            {
                                <tr>
                                    <th scope="row">@lecture.Id</th>
                                    <td>@lecture.Name</td>
                                    <td>@lecture.Code</td>
                                    <td>@lecture.Credit</td>
                                    <td>

                                        <div class="checkbox-inline1">

                                            <input type="checkbox"
                                                   name="LectureIds"
                                                   value="@lecture.Id"
                                                   id="lecture(@lecture.Id)">
                                            <label for="lecture(@lecture.Id)">
                                            </label>
                                        </div>

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    <button type="submit" class="btn btn-default btn-flat btn-pri" formaction="Choose" style="margin-left:875px;"><i class="fa fa-sitemap" aria-hidden="true"></i>Gönder</button>
                </div>
            </div>
        </form>

        }
    }
</div>
@*<form class="form-horizontal" asp-controller="Lecture" asp-action="Choose" method="post">
    </form>*@