@model LectureViewModel
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="widget-shadow " data-example-id="basic-forms">
    <div class="form-title">
        <h4>Ders Düzenle</h4>
    </div>
    <div class="form-body">
        <form class="form-horizontal" asp-controller="Lecture" asp-action="Update" method="post">
            <input type="hidden" name="LectureId" value="@Model.LectureId"/>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Ders Adı:</label>
                <div class="col-sm-9">
                    <input asp-for="Name" value="@Model.Name" type="text" class="form-control" placeholder="Ders Adı" name="Name">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Ders Kodu:</label>
                <div class="col-sm-9">
                    <input asp-for="Code" value="@Model.Code" type="text" class="form-control" placeholder="Ders Kodu" name="Code">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Kredi: </label>
                <div class="col-sm-9">
                    <input asp-for="Credit" value="@Model.Credit" type="number" class="form-control" placeholder="Kredi" name="Credit">
                </div>
            </div>
            <div class="form-group">
                <label for="selector1" class="col-sm-2 control-label">Bölüm</label>
                <div class="col-sm-9">
                    <select asp-for="DepartmentId" class="form-control1">
                        @foreach (var department in Model.Departments)
                        {
                            <option value="@department.Id">@department.Name</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-sm-offset-2"> <button type="submit" class="btn btn-default">Düzenle</button> </div>
        </form>
    </div>
</div>
