@model AppointmentListModel

<div class="container">
    <h4>Randevu Onayı</h4>
    @foreach (var appointment in Model.Appointments)
    {

        <form action="" method="post">
            

                <div class="panel-info widget-shadow">
                    <h3 class="title2" style="text-align:center;color:tomato">@appointment.StudentName öğrencisinin @appointment.Date Tarihli Randevusu</h3>
                    <br />
                    <div class="col-md-12 panel-grids">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h1 class="panel-title"> @appointment.Subject</h1>
                            </div>
                            <div class="panel-body"> @Html.Raw(appointment.Comment) </div>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                    <div>
                        <input type="hidden" name="AppointmentId" value="@appointment.AppointmentId" />
                        <button type="submit" class="btn btn-danger btn-flat btn-pri" formaction="Approve" style="display: inline-block; margin-left:400px; "><i class="fa fa-plus" aria-hidden="true"></i>Onayla</button>

                        <button type="submit" class="btn btn-danger btn-flat btn-pri" formaction="Reject" style="display: inline-block; "><i class="fa fa-plus" aria-hidden="true"></i>Reddet</button>
                    </div>
                </div>


        
        </form>

    }
</div>




